<html>
    <h1>Add a User</h1>
        <form action="/addUser" method="POST">
            <p>
                User Name <input type='text' name='userName' /><br />
                Password <input type='password' name='password' /><br />
                First Name <input type='text' name='firstName' /><br />
                Last Name <input type='text' name='lastName' /><br />
                birthdate <input type='date' name='birthDate' /><br />
                Phone Number <input type='tel' name='phone' /><br />
                Email <input type='text' name='email' /><br />
            <button type="submit">Add User</button>
        </p>
    </form>
</html>