extends layouts  
<h1>Add a Provider</h1>
        <form action="/addProvider" method="POST">
            <p>
                First Name <input type='text' name='firstName' /><br />
                Last Name <input type='text' name='lastName' /><br />
                Phone <input type='tel' name='phone' /><br />
                eMail <input type='text' name='email' /><br />
                password<input tpye='hidden' name ='password' /><br />
            <button type="submit">Add Provider</button>
        </p>
    </form>
</html>