<h1>{{#if provider}}Update{{else}}Add{{/if}} a Provider</h1>
        <form action="/addProvider" method="POST">
            <p>
                Name <input type='text' name='fullName' /><br />
                Specialty <input type='text' name='specialty' /><br />
                Phone <input type='tel' name='phone' /><br />
                eMail <input type='text' name='email' /><br />
                password<input tpye='hidden' name ='password' /><br />
            <button type="submit">Add Provider</button>
        </p>
    </form>
</html>

