<h1>Add-Update User</h1>
<form action="/addUpdateUser"method="POST">
<p>
    First Name<input type="text" name="firstName" value="{{user.firstName}}" /></br>
    Last Name<input type="text" name="lastName"value="{{user.lastName}}" /></br>
    Email<input type="email" name="email"value="{{user.email}}" /></br>
    Phone<input type="phone" name="phone"value="{{user.phoneNumber}}" /></br>
    Password<input type="hidden" name="password"/></br>
    <input type="hidden" email="user id" /> </br>
    <button type="submit">Add User</button>
</p>
</form>