<form action="/profession" method="GET">
    <h1>Search By Profession</h1>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr>
            <td>Psychiatry</td>
            <td><input type="checkbox" id="Psychiatrist" name="profession" value = "Psychiatrist"></td>
        </tr>
        <tr>
            <td>Counseling</td>
            <td><input type="checkbox" id="Counseling" name="profession" value ="Counselor"></td>
        </tr>
        <tr>
            <td>Nurse Practioner</td>
            <td><input type="checkbox" id="Nurse Practitioner" name="profession" value = "Nurse Practitioner"></td>
        </tr>
        <tr>
            <td>Social Work</td>
            <td><input type="checkbox" id="Social Work" name="profession" value = "SocialWork"></td><br/>
        </tr>
    </table>
    <button type="submit"> Find Services </button>
</form>
