<form action="/specialty" method="GET">
    <h1>Search By Specialties</h1>
    <table>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        <tr>
            <td>Psychiatry</td>
            <td><input type="checkbox" id="Psychiatry" name="specialty" value = "psychiatry"></td>
        </tr>
        <tr>
            <td>Counseling</td>
            <td><input type="checkbox" id="Counseling" name="specialty" value ="counseling"></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="Nutrition" name="specialty" value = "nutrition"></td>
        </tr>
        <tr>
            <td><input type="checkbox" id="Yoga" name="Yoga" value = "yoga"></td><br/>
        </tr>
    </table>
    <button type="submit"> Find Services </button>
</form>
